{% extends 'FEBundle::base.html.twig' %}
{% set page_title %}{% trans %}Login{% endtrans %}{% endset %}
{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block content -%}

<div class="page_content_offset">
    <div class="container">
        <div class="clearfix">
            {% if error %}
            <div class="col-md-12 alert alert-danger alert-bold-border fade in alert-dismissable">
                <strong>{% trans %}Warning{% endtrans %}!</strong> {{ error.message }}</a>.
            </div>
{% endif %}
            <div class="col-md-3"></div>
            <section class="col-md-6 col-sm-12 r_corners shadow login">
                <h3 class="m_bottom_20 color_dark">{% trans %}Login{% endtrans %}</h3>
                <form role="form" method="POST" action="{{ path('login_check') }}">
                    <ul>
                        <li class="m_bottom_15">
                            <label class="m_bottom_5 d_inline_b">{% trans %}Username{% endtrans %}</label><br>
                            <input type="text" name="_username" value="{{ last_username }}" class="r_corners full_width">
                        </li>
                        <li class="m_bottom_25">
                            <label class="m_bottom_5 d_inline_b">{% trans %}Password{% endtrans %}</label><br>
                            <input type="password" name="_password" class="r_corners full_width">
                        </li>
                        <li class="m_bottom_15">
                            <input type="checkbox" class="d_none" name="_remember_me" id="checkbox_10"><label for="checkbox_10">{% trans %}Remember me{% endtrans %}</label>
                        </li>
                        <li class="clearfix m_bottom_30">
                            <button class="button_type_4 tr_all_hover r_corners f_left bg_scheme_color color_light f_mxs_none m_mxs_bottom_15">{% trans %}Login{% endtrans %}</button>
                            <div class="f_right f_size_medium f_mxs_none">
                                <a href="{{ path('fe_pre_forgot_password') }}" class="color_dark">{% trans %}Forgot your password?{% endtrans %}</a><br>
                            </div>
                        </li>
                        <li class="clearfix m_bottom_30">
                            <a href="{{path("facebook_request")}}" class="button_type_4 tr_all_hover r_corners bg_scheme_color color_light f_mxs_none m_mxs_bottom_15"><i class="fa fa-facebook"></i> {% trans %}Login with Facebook{% endtrans %}</a>
                        </li>
                    </ul>
                </form>
                <footer class="bg_light_color_1 t_mxs_align_c">
                    <h3 class="color_dark d_inline_middle d_mxs_block m_mxs_bottom_15">{% trans %}New Customer?{% endtrans %}</h3>
                    <a href="#" role="button" class="tr_all_hover r_corners button_type_4 bg_dark_color bg_cs_hover color_light d_inline_middle m_mxs_left_0">{% trans %}Create an Account{% endtrans %}</a>
                </footer>
            </section>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

{% endblock %}