{% extends 'FEBundle::base.html.twig' %}
{% block title %}Privacy{% endblock %}

{% block content %}

<div class="page_content_offset">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <h2 class="tt_uppercase color_dark m_bottom_25">Tour Section</h2>
                <div class="tabs vertical clearfix">
                    <!--tabs navigation-->
                    <nav>
                        <ul class="tabs_nav clearfix f_left">
                            <li class="m_bottom_5"><a href="#tab-1" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Return Policy{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-2" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Customer Service{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-3" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Privacy Policy{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-4" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Sell With Us{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-5" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Loyalty Program{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-6" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Sell art-words{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-7" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}CRS gifts{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-8" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Designers{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-9" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Wholesale{% endtrans %}</a></li>
                            <li class="m_bottom_5"><a href="#tab-10" class="bg_light_color_1 shadow color_dark tr_delay_hover d_block">{% trans %}Volunteer{% endtrans %}</a></li>
                        </ul>
                    </nav>
                    <!--tabs content-->
                    <section class="tabs_content shadow r_corners f_left">
                        <div id="tab-1">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Return Policy{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-2">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Customer Service{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-3">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Privacy Policy{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-4">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Sell With Us{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-5">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Loyalty Program{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-6">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Sell art-words{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-7">
                            <h5 class="fw_medium m_bottom_10">{% trans %}CRS gifts{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-8">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Designers{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-9">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Wholesale{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                        <div id="tab-10">
                            <h5 class="fw_medium m_bottom_10">{% trans %}Volunteer{% endtrans %}</h5>
                            <img src="{{ asset('bundles/fe/images/shortcodes_img_01.jpg') }}" class="m_bottom_15" alt="">
                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                        </div>
                    </section>
                </div>
            </div>
            {{ render(controller('CMSBundle:FrontEnd/HomePage:sidebarWidget')) }}
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fe/js/jquery-ui.min.js') }}"></script>
{% endblock %}